<div class="absolute top-0 left-0 w-full flex justify-center">
  <div
    class="relative w-full flex flex-row justify-between bg-transparent text-white py-8 px-6 mx-auto max-w-7xl z-50"
    style="height: auto"
  >
    <div class="">
      <a href="/" class="">
        <img src="assets/logo.png" width="45%" />
      </a>
    </div>
    <div class="text-white flex flex-row gap-6 items-center justify-center">
      <button class="text-sm">About Us</button>
      <button class="text-sm">Contact</button>
      <button
        class="px-3 py-2 font-bold text-md text-black bg-main-color hover:bg-main-color-dark hover:text-white"
        [routerLink]="'/montar'"
      >
        LETS BUILD!
      </button>
    </div>
  </div>
</div>
