<div class="flex h-screen bg-main-color transition duration-300">
  <div
    [ngClass]="sidebarOpen ? 'block' : 'hidden'"
    (click)="sidebarOpen = false"
    class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden"
  ></div>

  <div
    [ngClass]="
      sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'
    "
    class="fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transition duration-300 transform bg-dark lg:translate-x-0 lg:static lg:inset-0"
  >
    <div class="flex items-center justify-center mt-8">
      <a class="flex items-center justify-center" href="/">
        <img src="assets/logo.png" alt="logo" width="75%" />
      </a>
    </div>

    <nav class="mt-10">
      <a
        class="flex items-center px-6 py-3 mt-4 text-gray-100 hover:bg-gray-700 hover:bg-opacity-25 hover:white"
        href="#"
        [routerLink]="['montar']"
        routerLinkActive="text-white bg-gray-700 bg-opacity-25"
      >
        <span class="mdi mdi-remote-desktop text-2xl"></span>
        <span class="mx-3">Montar PC</span>
      </a>

      <a
        class="flex items-center px-6 py-3 mt-1 text-gray-100 hover:bg-gray-700 hover:bg-opacity-25 hover:white"
        href="#"
        [routerLink]="['cadastro']"
        routerLinkActive="text-white bg-gray-700 bg-opacity-25"
      >
        <span class="mdi mdi-package-variant-closed-plus text-2xl"></span>

        <span class="mx-3">Cadastro de Peças</span>
      </a>
    </nav>
  </div>
  <div class="flex flex-col flex-1 overflow-hidden">
    <header
      class="flex items-center justify-between px-6 py-4 bg-white border-b-4 border-main-color lg:hidden"
    >
      <div class="flex items-center">
        <button
          (click)="sidebarOpen = true"
          class="text-gray-500 focus:outline-none lg:hidden"
        >
          <svg
            class="w-6 h-6"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 6H20M4 12H20M4 18H11"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
      </div>
    </header>
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
